.input {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    body .mat-input-element {
        height: 32px;
        padding: 0 5px;
        box-sizing: border-box;
    }
    .form-action .mat-input-element ,
    .form-action .mat-select-value { 
        color: #6f6f6f;
        font-size: 14px;
    }
    .button{
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(62, 50, 223, 0.6);
            background-image: linear-gradient(to top left,
                                              rgba(0, 0, 0, .2),
                                              rgba(0, 0, 0, .2) 30%,
                                              rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                        inset -2px -2px 3px rgba(0, 0, 0, .6);
        }
        
        .styled:hover {
            background-color: rgb(62, 50, 223, 0.6);
        }
        
        .styled:active {
            box-shadow: inset -2px -2px 3px rgba(62, 50, 223, 0.6),
                        inset 2px 2px 3px rgba(0, 0, 0, .6);   
    }

 
.footer{
    display:flex;
    flex-direction:row;
}
.footer > button  {
    flex:1 1 auto;
    margin:5px;  /* and that, will result in a 10px gap */
}